$dark-gray: #c7c7c7;
$gray: #f9f9f9;
$white: #FFFFFF;
$purple: #1976d2;
$black: #000000;
$red: #CE4848;
$sky-blue: #2BEBC8;
$black-gray: #4A4A4A;
$green: #06AA8D;

$breakpoint-small: 498px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
